.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--primary-color);
    background: var(--primary-bg);

    &.dark-mode {
        background: var(--primary-bg);
        border-bottom: 2px solid var(--primary-text);
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;

    &.dark-mode {
        color: var(--primary-text);
    }
}

.brand-green {
    color: var(--primary-color);

    &.dark-mode {
        color: #81c784;
    }
}

.nav-links {
    display: flex;
    gap: 1.5rem;

    &.dark-mode {
        a {
            color: var(--primary-text);
        }
    }
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: 1rem;

    &.dark-mode {
        color: var(--primary-text);
    }
}



button {
    padding: 0.5rem;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--primary-bg);

    &.dark-mode {
        background: var(--primary-text);
        color: var(--primary-bg);
    }
}