<p class="countdown">Order before midnight to get it tomorrow! Countdown: {{ countdown$ | async }}</p>
<div class="container">
    <h2>{{ product?.name }}</h2>
    <img [src]="product?.image?.url" class="product-img" alt="{{ product?.name }}">
    <p>{{ product?.description?.text }}</p>
    <p class="price">Price: ${{ product?.price }}</p>
    <h3>Related Products</h3>
    <div class="related-products">
        @for (related of getRelatedProducts(); track related.slug) {
            <div class="related-item">
                <a [routerLink]="['/product', related.slug]">
                    <img [src]="related?.image?.url" alt="{{ related.name }}">
                    <p>{{ related.name }}</p>
                </a>
            </div>
        }
    </div>
</div>