<p class="countdown">Order before midnight to get it tomorrow! Countdown: {{ countdown$ | async }}</p>
<div class="container">
    <h2>{{ product?.name }}</h2>
    <img [src]="product?.image?.url" class="product-img" alt="{{ product?.name }}">
    <p>{{ product?.description?.text }}</p>
    <p class="price">Price: ${{ product?.price }}</p>
    <h3>Related Products</h3>
    <div class="related-products">
        @defer (on viewport) {
        @for (relatedProduct of getRelatedProducts(); track relatedProduct.slug) {
        <a [routerLink]="['/product', relatedProduct.slug]" class="related-item">
            <img [src]="relatedProduct.image.url" [alt]="relatedProduct.name">
            <p>{{ relatedProduct.name }}</p>
                </a>
            }
        } @placeholder {
        <div class="loading-placeholder">
            <div class="skeleton-loader"></div>
        </div>
        } @loading {
        <div class="loading-spinner">Loading...</div>
        }
    </div>
</div>