<section class="about-container">
    <div class="header">
        <h1>Thais Oliveira</h1>
        <p>Software Engineer</p>
    </div>

    <div class="contact">
        <p><ng-icon name="bootstrap:envelope"></ng-icon> borgesoliveira.thais&#64;gmail.com</p>
        <p><ng-icon name="bootstrap:github"></ng-icon> <a href="https://thsoliveira.com/"
                target="_blank">thsoliveira.com</a></p>
        <p>📍 Braga, Portugal</p>
    </div>

    <div class="profile">
        <h2>About Me</h2>
        <p>
            My passion for technology began when my mom took a tech course, sparking my curiosity.
            I earned a degree in Systems Analysis and Development from Unisinos, starting with a research scholarship.
            Transitioning from software testing to coding, I found my true calling in development.
            I thrive on problem-solving, teamwork, and staying updated with Agile methods.
            Now, I focus on front-end development with React, Next.js, and Angular.
            Outside work, I enjoy writing books, reading, TV shows, and CrossFit.
        </p>
    </div>

    <div class="skills">
        <h2>Skills</h2>
        <ul>
            <li>JavaScript (ES6+)</li>
            <li>ReactJS / NextJS / Vite</li>
            <li>Angular</li>
            <li>TypeScript</li>
            <li>Tailwind</li>
            <li>HTML / CSS</li>
            <li>Git / Jenkins</li>
        </ul>
    </div>

    <div class="experience">
        <h2>Work Experience</h2>
        <div class="job">
            <h3>Omega Systems (07/2023 - Present)</h3>
            <p>Software Engineer - React / Angular</p>
        </div>
        <div class="job">
            <h3>Fiducial Informática (01/2021 - 06/2023)</h3>
            <p>Software Engineer - Angular</p>
        </div>
        <div class="job">
            <h3>DB (08/2018 - 12/2020)</h3>
            <p>Software Engineer - React / Angular</p>
        </div>
        <div class="job">
            <h3>No Boss Technology (04/2015 - 07/2018)</h3>
            <p>Web Developer</p>
        </div>
    </div>

    <div class="education">
        <h2>Education</h2>
        <p>Systems Analysis and Development - Universidade do Vale do Rio dos Sinos (2015 - 2018)</p>
    </div>

    <div class="languages">
        <h2>Languages</h2>
        <p>Portuguese (Fluent) | English (Advanced) | Spanish (Basic)</p>
    </div>
</section>